<button class="btn btn-danger" (click)="logForm()">Log form</button>

<form [formGroup]="bookForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>ISBN</label>
    <input class="form-control" type="text" formControlName="isbn">
    <div class="feedback-red" *ngIf="isInvalid('isbn')">
      ISBN ist ungültig.
    </div>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input class="form-control" type="text" formControlName="title">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <button type="submit"
    class="btn"
    [disabled]="bookForm.invalid"
    [ngClass]="{ 'btn-success': bookForm.valid, 'btn-danger': bookForm.invalid }">
    Abschicken
  </button>
  <!-- [class.btn-success]="bookForm.valid" -->

</form>

{{ bookForm.value | json }}


<hr>

<a routerLink="/books">Zum Dashboard</a><br>
